<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class='image_result'>
    <h1>The result is: <%= @play_game %></h1>
  </body>
</html>
