<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Welcome</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>ROCK, PAPER, SCISSORS</h1>
    <p>The best game in the world for choosing who goes first!</p>
    <p>Choose rock, paper, or scissors</p>
  <ul>
    <li>Rock beats scissors</li>
    <li>Scissors beat paper</li>
    <li>Paper beats rock</li>
    <li>Two the same means a draw, play again!</li>
  </ul>
</body>
</html>
